:root {
  font-size: 16px;
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  letter-spacing: 0.1rem;
  color: whitesmoke;
}

body {
  /* background-color: #121212; */
  background-color: #0a192f;
  margin: 0;
}

.title {
  display: flex;
  justify-content: center;
}

h2 {
  text-transform: uppercase;
  color: #07547a;
}
/*************/
/*** NAVBAR ***/
/*************/
.navbar-container {
  background-color: transparent;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
}

.navbar-container .colorActive {
  background: linear-gradient(120deg, #0a192f, #07547a);
}

.navLink {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3rem;
}

.navLink:hover {
  color: #8892b0;
  font-size: 1.2rem;
}

/************/
/*** HOME ***/
/************/
.wrapper-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1595520519880-a86c48ea536c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.wrapper-home p {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.wrapper-home h1 {
  font-family: "Ubuntou", sans-serif;
  font-size: 3rem;
}

/************/
/*** ABOUT ***/
/************/

.about-container {
  min-height: 70vh;
  background-color: #8892b017;
}

.about-container p {
  color: #8892b0;
}

.about-img {
  width: 50%;
  border-radius: 100%;
}

/************/
/*** SKILLS ***/
/************/

.skills-container-wrap {
  margin: 2rem 6rem;
  min-height: 60vh;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill-set {
  display: flex;
  width: 210px;
  margin: 2rem 0;
  padding: 1.5rem;
  background-color: #8892b017;
  color: #8892b0;
}

/****************/
/*** PROJECTS ***/
/****************/

.projects-container-wrap {
  margin: 2rem 0;
  min-height: 70vh;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-set {
  display: flex;
  flex-direction: column;
  width: 500px;
  cursor: pointer;
  margin: 2rem 0;
}

.project-backside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 266px;
  background-color: #8892b017;
  justify-content: space-between;
  color: #8892b0;
  padding: 0 1rem;
  /* box-sizing: border-box; */
}

.project-title {
  font-weight: bolder;
  color: #07547a;
}

.gif {
  width: 100%;
}

.project-links {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 0.5rem;
}

.project-links a {
  text-decoration: none;
  color: #8892b0;
}

.project-links a:hover {
  border-bottom: 2px solid #07547a;
}

/****************/
/*** CONTACT ***/
/***************/

.contact-container-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.contact-container p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  color: #8892b0;
}

.contact-links a {
  margin: 1.5rem;
}

.footer-container-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
  height: 40px;
  margin-top: 1rem;
  background-color: #8892b017;
}
/*********************/
/**** MEDIA QUERIES ****/
/********************/

/*ABOUT CONTAINER DOES NOT ACCEPT MEDIA QUERY*/
/* @media screen and (max-width: 830px) {
  .about-container Grid {
    padding-left: 0;
  }
} */
@media screen and (max-width: 1000px){
  .contact-container-wrap {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 700px) {
  .project-backside {
    height: 320px;
  }
  .contact-container-wrap {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 540px) {
  .projects-container-wrap {
    margin: 0;
  }

  .contact-container-wrap {
    margin: 0 1rem;
  }

  .project-backside {
    height: 250px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 430px) {
  .wrapper-home h1 {
    font-size: 2.5rem;
  }

  .wrapper-home p {
    font-size: 0.9rem;
  }

  .skills-container-wrap {
    margin: 0;
  }

  .skill-set {
    margin: 1rem 0;
  }

  .projects-container-wrap {
    margin: 0;
  }

  .project-backside {
    height: 250px;
  }

  .project-links {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 375px) {
  .wrapper-home h1 {
    font-size: 2rem;
  }

  .wrapper-home p {
    font-size: 0.65rem;
  }

  .skill-set {
    margin: 1rem 0;
  }

  .projects-container-wrap {
    margin: 0;
  }

  .project-backside {
    height: 250px;
    font-size: 0.8rem;
  }

  .project-links {
    flex-wrap: wrap;
  }
}
